html
{
	background-color: #272822;
	color:white;
}

#clicAccueil
{
	width:20%;
	display: inline;
}

.connexion
{
	display: inline-block;
	position:relative;
	margin-left:80%;
}

label
{
	display: block;
	width: 20%;
	font-size: 110%;
}

.inputInscription
{
	height: 33px;
	width: 20%;
	font-size: 150%;
}
